@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-white-25 text-center pb-3">Payment Successful!</h1>
        <img src="~/images/thumbs-up.jpg" width="65%" />
    </div>
    <div class="col-12 text-center pt-3">
        <span>Order Number : <span class="fw-bolder">@Model</span></span>
    </div>
    <div class="col-12 text-center pt-3">
        <a asp-area="Admin"
           asp-controller="Order"
           asp-action="Details"
       asp-route-orderId="@Model" class="btn btn-outline-danger text-uppercase btn-sm">Back to Order Details</a>
    </div>
</div> 